<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - template</title>
    <base href="/">

    <environment names="Development">

        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/font-awesome.css" rel="stylesheet" />

        <!-- 1. Load libraries -->
        
        <script src="libs/angular2-polyfills.js"></script>
        
        <script src="libs/system.src.js"></script>
        <script src="libs/Rx.js"></script>
        <script src="libs/angular2.dev.js"></script>
        <script src="libs/browser.js"></script>
        <script src="libs/router.dev.js"></script>
        <script src="libs/http.dev.js"></script>



        <!-- 2. Configure SystemJS -->

        <script>
            System.config({
                packages: {
                    app: {
                        format:'register',
                        defaultExtension: 'js'
                    },
                    paths: {
                        'rx': 'libs/rx.js',
                        'angular2': 'libs/angular'
                    }
                }


            })
            /*
            System.config({
                "baseURL": "/",
                "map": {
                    'angular2':'/libs/angular2.dev'

                },
                packages: {
                    scripts: {    // <--- right there
                        format: 'cjs',
                        defaultExtension: 'js'
                    }
                },
                "paths": {
                    'angular':'/libs'

                }

            });
            */
            System.import('./app/boot').then(null, console.error.bind(console));
            
        </script>


    </environment>

    <environment names="Staging,Production">
        
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">template</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - template</p>
        </footer>
    </div>

    <environment names="Development">
        
    </environment>
    <environment names="Staging,Production">
        <script></script>
        <script></script>
        <script></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
